.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.price {
    color: #8a2b06;
}

.actions {
    text-align: right;
}

button {
    font: inherit;
    cursor: pointer;
    background-color: #e3a636;
    border: 1px solid #e3a636;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e3a636;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #711973;
    border-color: #711973;
    color: white;
}

.actions .button--alt {
    border: 1px solid #e3a636;
    color: #e3a636;
}

.actions .button {
    background-color: #e3a636;
    color: white;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
